@{
    Layout = null;
}
@*编辑发布的文章内容*@
@{
    var model = (EFDao.Entity.article)ViewData["model"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑文章内容</title>
    <style type="text/css">
        * {
            list-style-type: none;
        }

        body {
            background-color: #FDFDF8;
        }

        a {
            text-decoration: none;
            font-size: 16px;
        }

        hr {
            height: 1px;
            background-color: #E0D0A3;
            border: none;
        }

        .badoo {
            text-align: right;
            float: right;
            height: 48px;
            line-height: 38px;
        }

            .badoo span {
                display: inline-block;
                padding: 5px 5px 5px;
                margin-left: 7px;
                margin-right: 3px;
                color: #999;
            }

            .badoo a {
                display: inline-block;
                padding: 5px 5px 5px;
                margin-left: 7px;
                margin-right: 3px;
            }

        .blueBtn {
            display: inline-block;
            margin-left: 20px;
            padding: 5px 10px 5px;
            font-size: 14px;
            background-color: #398BFC;
            cursor: pointer;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .blueBtn_s {
            display: inline-block;
            padding: 5px 10px 5px;
            font-size: 12px;
            background-color: #398BFC;
            cursor: pointer;
            color: #fff;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>

    <script type="text/javascript" charset="utf-8" src="~/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/ueditor/ueditor.all.min.js"> </script>

    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="~/ueditor/lang/zh-cn/zh-cn.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('editor_art');
        ue.ready(function () {
            ue.setContent('@Html.Raw(model.content)');
        });

        // 保存对文章内容所做的修改
        function bcxg() {
            var content = ue.getContent();
            if (content == '') {
                alert('请输入内容');
                return;
            }
            if (content.indexOf('<p>') >= 0 && content.indexOf('</p>') < 0) {
                alert('文章内容数据异常');
                return;
            }
            var title = $("#title").val();
            if (title == '' || title.length == 0) {
                alert('请输入标题');
                return;
            }
            var sort = $("#sort").val();
            if (sort == '' || sort.length == 0) {
                alert('请输入排序');
                return;
            }
            if (isNaN(parseInt(sort))) {
                alert('排序只能是数字');
                return;
            }
            $.ajax({
                type: "POST",
                url: "/admin/edit_article",
                data: $("#spForm").serialize() + "&content=" + content,
                error: function (request) {
                    alert('请求错误');
                },
                success: function (data) {
                    alert(data);
                    if (data == '修改成功') {
                        location.href = '@Request.RawUrl';
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div style="text-align:center;">修改文章内容</div>
    <div style="width:1000px;min-height:600px;margin:0px auto 0px;">
        @{ var dic = (Dictionary<long, EFDao.Entity.category>)ViewData["cateDic"];}

        <form id="spForm">
            <input type="hidden" name="id" value="@(model.id)" />
            <input type="hidden" name="addtime" value="@(model.addtime.ToString("yyyy-MM-dd HH:mm:ss"))" />
            <input type="hidden" name="uid" value="@(model.uid)" />

            <table style="width:100%;">
                <tr>
                    <td>编号:</td>
                    <td>@(model.id)</td>
                </tr>
                <tr>
                    <td>分类名称:</td>
                    <td>
                        <select name="cateid">
                            @{
                                if (dic != null && dic.Count > 0)
                                {
                                    foreach (var item in dic.Values)
                                    {
                                        <option value="@item.id" @{if(item.id==model.cateid) {<text>selected="selected" </text>}}>@item.category_name</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>标题:</td>
                    <td><input type="text" name="title" id="title" value="@(model.title)" /> </td>
                </tr>
                <tr>
                    <td>关键字:</td>
                    <td><input type="text" name="keywords" value="@(model.keywords)" /> </td>
                </tr>
                <tr>
                    <td>添加时间:</td>
                    <td>@(model.addtime.ToString("yyyy-MM-dd HH:mm"))</td>
                </tr>
                <tr>
                    <td>状态:</td>
                    <td>
                        <label for="tzr1">不显示</label><input type="radio" name="state" value="0" id="tzr1" @{if (model.state == 0) { <text> checked="checked" </text>   } } />
                        <label for="tzr2">显示</label><input type="radio" name="state" value="1" id="tzr2" @{if (model.state == 1) { <text> checked="checked" </text>   } } />
                    </td>
                </tr>
                <tr>
                    <td>是否置顶:</td>
                    <td>
                        <label for="zd1">不置顶</label><input type="radio" name="top" value="false" id="zd1" @{if (!model.top) { <text> checked="checked" </text>    } } />
                        <label for="zd2">置顶</label><input type="radio" name="top" value="true" id="zd2" @{if (model.top) { <text> checked="checked" </text>    } } />
                    </td>
                </tr>
                <tr>
                    <td>排序:</td>
                    <td><input type="number" name="sort" id="sort" value="@(model.sort)" /> </td>
                </tr>
                <tr style="width:100%;">
                    <td width="80">内容:</td>
                    <td>
                        <script id="editor_art" type="text/plain" style="width:100%;height:500px;">
                        </script>
                    </td>
                </tr>

            </table>

            <div style="text-align:center;margin-top:30px;">
                <div class="blueBtn_s" onclick="bcxg()">保存修改</div>
            </div>
        </form>
    </div>

</body>
</html>
