@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>举报内容审核</title>
    <style type="text/css">
        * {
            list-style-type: none;
        }

        body {
            background-color: #FDFDF8;
        }

        a {
            text-decoration: none;
            font-size: 16px;
        }

        hr {
            height: 1px;
            background-color: #E0D0A3;
            border: none;
        }

        .badoo {
            text-align: right;
            float: right;
            height: 48px;
            line-height: 38px;
        }

            .badoo span {
                display: inline-block;
                padding: 5px 5px 5px;
                margin-left: 7px;
                margin-right: 3px;
                color: #999;
            }

            .badoo a {
                display: inline-block;
                padding: 5px 5px 5px;
                margin-left: 7px;
                margin-right: 3px;
            }

        .blueBtn {
            display: inline-block;
            margin-left: 20px;
            padding: 5px 10px 5px;
            font-size: 14px;
            background-color: #398BFC;
            cursor: pointer;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .blueBtn_s {
            display: inline-block;
            padding: 5px 10px 5px;
            font-size: 12px;
            background-color: #398BFC;
            cursor: pointer;
            color: #fff;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .trsp{
            cursor:pointer;
            width:100%;
            color:chocolate;
        }
    </style>
</head>
<body>
    <div style="text-align:center;">举报内容审批</div>
    <div style="width:800px;min-height:600px;margin:0px auto 0px;">
        <table style="width:100%;">
            <tr>
                <td>帖子编号</td>
                <td>理由</td>
                <td>举报时间</td>
                <td>举报类型</td>
                <td>状态</td>
            </tr>
            @{ 
                if (ViewData["list"] != null)
                {
                    var list = (List<EFDao.Entity.tiezi_jubao>)ViewData["list"];
                    if (list != null && list.Count > 0)
                    {
                        foreach (var item in list)
                        {
                            <tr class="trsp" onclick="javascript:window.open('/admin/editShenPi/@item.tzid?jbid=@item.id','_blank')">
                                <td>@item.tzid </td>
                                <td>@item.reason </td>
                                <td>@item.addtime.ToString("yyyy-MM-dd HH:mm:ss") </td>
                                <td>@(item.jb_type?"内容":"回复") </td>
                                <td>@(item.state==0?"未审核":"已审核")</td>
                            </tr>
                        }
                    }
                }
            }
        </table>
        <div>
            @Html.Raw(ViewData["url"])
        </div>
    </div>
</body>
</html>
