@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}
@*帖子详情页*@

<script type="text/javascript">
    $(function () {

    })

    // 点击回复帖子按钮
    function hftz(id) {
        var hftz = $("#hftz" + id).html();
        if ("回复" == hftz) {
            $("#hftz" + id).html('收起回复');
            $("#httz_div_" + id).slideDown(500);
        } else {
            $("#hftz" + id).html('回复');
            $("#httz_div_" + id).slideUp(500);
        }
    }

    // 举报涉嫌违规的帖子, id 是帖子主键
    function jubao(id) {

    }

    // 回复帖子内容,判断是否登录
    function tzReply(id) {
        if ('@(Session["user"]==null?0:1)' == 0) {
            alert("请先登录");
            return;
        }
        if ($("#rep_content_" + id).val() == '') {
            alert("请输入回复内容");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/index/tzReply",
            data: $("#tzReplyForm" + id).serialize(),
            error: function (request) {
                alert('请求错误');
            },
            success: function (data) {
                if (data > 0) {
                    alert("保存成功");
                    location.href = "/index/article";
                } else {
                    alert("保存失败:" + data);
                }
            }
        });
    }
</script>

<div style="float:left;width:660px;">
    @{ 
        if (ViewData["tzList"] != null)
        {
            var tzList = (List<Entity.TieZiExt>)ViewData["tzList"];
            if (tzList != null && tzList.Count > 0)
            {
                foreach (Entity.TieZiExt item in tzList)
                {
                    if (item != null && item.id > 0)
                    {
                        <text>
                            <div style="min-height:200px;width:100%;border:1px solid #E1E4E6;">
                                <div style="width:80px;font-size:14px;min-height:200px;float:left;text-indent:1em;padding-top:10px;color:#2d64b3;background-color:#FBFBFD;">@item.uname </div>

                                <div style="min-width:500px;font-size:16px;min-height:200px;margin-left:80px;padding-top:10px;">
                                    @*楼层内容*@
                                    <div style="min-width:500px;height:200px;">
                                        @Html.Raw(item.content)
                                    </div>
                                    @*功能按钮*@
                                    <div style="text-align:right;">
                                        <a href="javascript:;" onclick="jubao('@item.id')">举报</a>
                                        <span>@item.floor 楼</span>
                                        <span>@item.addtime.ToString("yyyy-MM-dd HH:mm") </span>
                                        <a href="javascript:;" class="hftz" id="hftz@(item.id)" onclick="hftz('@item.id')">回复</a>
                                    </div>
                                    @*回复内容列表*@
                                    <div>
                                        <ul>
                                            @{ 
                                                if (item.replyList != null && item.replyList.Count > 0)
                                                {
                                                    foreach (var reply in item.replyList)
                                                    {
                                                        if (reply != null && reply.id > 0)
                                                        {

                                                        }
                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>

                                    @*添加回复内容*@
                                    <div id="httz_div_@item.id" style="display:none;height:60px;line-height:60px;min-width:500px;background-color:antiquewhite;text-align:center;">
                                        <form id="tzReplyForm@(item.id)">
                                            <input type="hidden" name="tzid" value="@item.id" />@*帖子当前楼层的id*@
                                            <textarea name="content" id="rep_content_@(item.id)" class="httz_txt" rows="2" style="min-width:500px;min-height:30px;display:inline-block;margin-top:14px;"></textarea>
                                            <span style="display:inline-block;height:60px;line-height:60px;vertical-align:top;cursor:pointer;" onclick="tzReply('@item.id')">发表</span>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </text>
                    }
                }
            }
        }
    }
</div>