@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}

@*分页查看可显示的文章的列表*@

<script type="text/javascript">
    $(function () {
        $("#key").focus();
        $('#key').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                searchArticle();
            }
        });
    })

    // 搜索文章
    function searchArticle() {
        var key = $("#key").val();
        if (key == '')
            location.href = '/index/artList?cateid=@ViewData["cateid"]';
        else
            location.href = "/index/artList?cateid=@ViewData["cateid"]&key=" + key;
    }
</script>

<style type="text/css">
    .bztr {
        cursor: pointer;
        height: 30px;
        line-height: 30px;
    }
</style>

<div style="text-align:center;height:50px;line-height:50px;font-size:16px;color:#666;">查看文章列表</div>

<div style="text-align:center;">
    <input type="hidden" id="cateid" value="@ViewData["cateid"]" />
    <input type="text" id="key" placeholder="请输入标题,关键字搜索" /> <div class="blueBtn_s" onclick="searchArticle()">查找</div>
</div>

<div>
    <table style="width:100%;">
        @{
            if (ViewData["list"] != null)
            {
                var artList = (List<EFDao.Entity.article>)ViewData["list"];
                if (artList != null && artList.Count > 0)
                {
                    foreach (var item in artList)
                    {
                        <text>
                            <tr class="bztr" onclick="location.href='/index/article/@item.id'">
                                <td>@item.title</td>
                                <td>@item.keywords</td>
                                <td>@item.addtime.ToString("yyyy-MM-dd HH:mm")</td>
                            </tr>
                        </text>
                    }
                }
            }
        }
    </table>
</div>

<div>@Html.Raw(ViewData["url"]) </div>