@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
}

<style type="text/css">

    .yuce_history_article {
        width: 660px;
        margin-top: 5px;
        background-image: url(/imgs/split-line-x.png);
        background-repeat: repeat-x;
        padding-top: 2px;
    }
    .lyb{
        width: 660px;
        min-height:300px;
        margin-top: 5px;
        background-image: url(/imgs/split-line-x.png);
        background-repeat: repeat-x;
        padding-top: 2px;
    }
    .news_box{float:left;width:660px;}
    .news_box_rt{float:right;width:330px;}

    .yuce_history_article_title {
        height: 38px;
        font-size:12px;
        width: 100%;
        background-color: #F5F5F1;
    }
    .yuce_history_article_content{
        width:100%;
        min-height:275px;
    }
    .yuce_history_article_content .lt{
        width:50%;
        height:100%;
        float:left;
    }
    .yuce_history_article_content .rt{
        width:50%;
        height:100%;
        float:right;
    }
        .yuce_history_article_content ul {
            min-height: 252px;
            width:100%;
        }
        .yuce_history_article_title .yhat_lt {
            float:left;
            background-image: url(/imgs/news-bg.png);
            background-repeat: no-repeat;
            width: 50%;
            height: 38px;
            background-position-x: 12px;
            background-position-y: 12px;
            text-indent: 38px;
            color: #CC0000;
            font-size: 16px;
            line-height: 38px;
        }
        .yuce_history_article_title .yhat_rt {
            float:right;
            background-image: url(/imgs/news-bg.png);
            background-repeat: no-repeat;
            width: 50%;
            height: 38px;
            background-position-x: 12px;
            background-position-y: 12px;
            text-indent: 38px;
            color: #CC0000;
            font-size: 16px;
            line-height: 38px;
        }

</style>

<script type="text/javascript">
    $(function () {
        $('#ycls').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                searchBzjp();
            }
        });

        $('#tytz').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                searchTitle();
            }
        });
    });

    // 搜索预测历史
    function searchBzjp() {
        var key = $("#ycls").val();
        if (key == '')
            location.href = '/index/index';
        else
            location.href = "/index/index?key=" + key + "&type=ycls";
    }

    // 搜索帖子标题
    function searchTitle() {
        var key = $("#tytz").val();
        if (key == '')
            location.href = '/index/index';
        else
            location.href = "/index/index?key=" + key + "&type=tytz";
    }

    // 创建帖子
    function createSub() {
        if ('@(Session["user"] == null ? "0" : "1")' == 0) {
            alert("请先登录");
            return;
        }
        // window.open('/index/createSub', "_blank");
        location.href = '/index/createSub';
    }

    // 添加内容到留言板
    function liuyan() {
        var content = $("#liuyanban").val();
        if (content.length == 0) {
            alert("请输入内容");
            return;
        }
        $.ajax({
            type: "post",
            url: "/index/addLiuYan",
            data: "content=" + content,
            error: function (request) {
                alert("请求错误");
            },
            success: function (data) {
                if (data > 0) {
                    location.href = '@Request.RawUrl';
                } else {
                    alert("添加失败");
                }
            }
        });
    }
</script>


@*左侧的整个的文章列表*@
<div class="news_box">

    @*预测历史和帖子内容标题列表*@
    <div class="yuce_history_article">
        <div class="yuce_history_article_title">
            <div class="yhat_lt">
                预测历史&emsp;<input style="width:120px;" type="text" id="ycls" placeholder="请输入八字,名字" /> <a style="color:#551A8B;" href="javascript:;" onclick="searchBzjp()">查找</a>
            </div>
            <div class="yhat_rt">
                坛友帖子&emsp;<input style="width:120px;" type="text" id="tytz" placeholder="主题或关键字" /> <a style="color:#551A8B;" href="javascript:;" onclick="searchTitle()">查找</a>&emsp;<a style="color:#551A8B;" href="javascript:;" onclick="createSub()">创建</a>
            </div>
        </div>
        
        <div class="yuce_history_article_content">
            <div class="lt">
                <ul>
                    @{ 
                        if (ViewData["baziList"] != null)
                        {
                            var bzList = (List<EFDao.Entity.bazijianpi>)ViewData["baziList"];
                            if (bzList != null && bzList.Count > 0)
                            {
                                foreach (var item in bzList)
                                {
                                    <text><li><a style="color:#551A8B;font-size:12px;" href="/index/bzjp/@item.id" target="_blank">@item.name &emsp;@item.bazi &emsp; @item.addtime.ToString("yyyy-MM-dd HH:mm") </a> </li> </text>
                                }
                                <text>@Html.Raw(ViewData["baziUrl"]) </text>
                            }
                            else
                            {
                                <text><li style="color:#551A8B;">无数据</li> </text>
                            }
                        }
                    }
                </ul>
                <div style="width:100%;height:30px;line-height:30px;color:#551A8B;">@{if((int)ViewData["ycCount"] >12) {<text><a href="/index/ycList" target="_blank">查看更多预测</a> </text> }} </div>
            </div>

            <div class="rt">
                <ul>
                    @{
                        if (ViewData["tzList"] != null)
                        {
                            var tzList = (List<Entity.TitleUserExt>)ViewData["tzList"];
                            if (tzList != null && tzList.Count > 0)
                            {
                                foreach (var item in tzList)
                                {
                                    <text>
                                        <li style="height:20px;width:100%;">
                                            <a style="display:block;height:100%;width:100%;color:#551A8B;font-size:12px;" href="/index/tiezi/@item.id" target="_blank">
                                                <span style="width:60px;height:100%;display:inline-block;"> @item.nick_name </span>
                                                <span style="display:inline-block;margin-right:5px;margin-left:5px;height:100%;">@item.art_title</span>
                                                <span style="display:block;float:right;margin-right:5px;margin-left:5px;height:100%;">@item.addtime.ToString("yyyy-MM-dd")</span>
                                            </a>
                                        </li>
                                    </text>
                                }
                            }
                            else
                            {
                                <text><li style="color:#551A8B;">无数据</li> </text>
                            }
                        }
                    }
                </ul>
                <div style="width:100%;height:30px;line-height:30px;color:#551A8B;">@{if((int)ViewData["tzCount"]>12) {<text><a href="/index/titleList" target="_blank">全部帖子</a> </text> }} </div>
            </div>
        </div>
    </div>

    @*留言板,游客和登录用户都可以,管理员可以删除留言,记录留言的ip地址*@
    <div class="lyb">
        <div style="text-align:center;cursor:pointer;color:chocolate;" title="查看更多留言内容" onclick="javascript:window.open('/index/liuyanList','_blank')">留言板</div>
        <div style="width:100%;min-height:210px;">
            <table style="width:100%;">
                @{ 
                    if (ViewData["lyList"] != null)
                    {
                        var lyList = (List<EFDao.Entity.liuyanban>)ViewData["lyList"];
                        if (lyList != null && lyList.Count > 0)
                        {
                            foreach (var item in lyList)
                            {
                                <tr style="width:100%;"><td>@item.uname :</td> <td> @item.content </td><td style="width:180px;color:chocolate;">@item.addtime.ToString("yyyy-MM-dd HH:mm") </td>  </tr>
                            }
                        }
                    }
                }
            </table>
        </div>
        <div style="text-align:center;">
            <input type="text" id="liuyanban" placeholder="请输入留言内容" /><div class="blueBtn_s" onclick="liuyan()">我要留言</div>
        </div>
    </div>
</div>