<!DOCTYPE html>
@*电脑版的头部布局*@
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>魏清风水算命论坛</title>
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }

        body {
            background-color: #FDFDF8;
        }

        a {
            text-decoration: none;
            font-size: 16px;
        }

        hr {
            height: 1px;
            background-color: #E0D0A3;
            border: none;
        }

        .badoo {
            text-align: right;
            float: right;
            height: 48px;
            line-height: 38px;
        }

            .badoo span {
                display: inline-block;
                padding: 5px 5px 5px;
                margin-left: 7px;
                margin-right: 3px;
                color: #999;
            }

            .badoo a {
                display: inline-block;
                padding: 5px 5px 5px;
                margin-left: 7px;
                margin-right: 3px;
            }

        .blueBtn {
            display: inline-block;
            margin-left: 20px;
            padding: 5px 10px 5px;
            font-size: 14px;
            background-color: #398BFC;
            cursor: pointer;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .blueBtn_s {
            display: inline-block;
            padding: 5px 10px 5px;
            font-size: 12px;
            background-color: #398BFC;
            cursor: pointer;
            color: #fff;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .lyb {
            width: 100%;
            min-height: 275px;
        }

        #top_login_ul li {
            float: left;
            margin-left: 10px;
        }

        #top_login_ul input[type=text] {
            display: inline-block;
            width: 120px;
        }

        #top_login_ul input[type=password] {
            display: inline-block;
            width: 120px;
        }

        input::-webkit-input-placeholder {
            color: #bbb;
        }

        input::-moz-placeholder {
            color: #bbb;
        }

        input:-moz-placeholder {
            color: #bbb;
        }

        input:-ms-input-placeholder {
            color: #bbb;
        }

        #loginForm input[type=text] {
            width: 100px;
        }

        #loginForm input[type=password] {
            width: 100px;
        }

        #top_rt {
            background-color: #EAE2D5;
            font-size: 12px;
            color: #AE6252;
            height: 57px;
            width: auto;
            overflow: hidden;
            text-indent: 1em;
            padding-top: 3px;
            padding-left: 10px;
        }

        #yuce {
            margin-top: 5px;
            height: 40px;
            width: 100%;
        }

            #yuce .yuce_lt:hover {
                cursor: pointer;
            }

            #yuce .yuce_rt:hover {
                cursor: pointer;
            }

            #yuce .yuce_rt .bgyc {
                height: 40px;
                width: auto;
                overflow: hidden;
                font-size: 12px;
                color: #AC685B;
                text-align: center;
            }

            #yuce .yuce_weixinhao {
                height: 40px;
                width: 580px;
            }

            #yuce .yuce_lt {
                display: inline-block;
                width: 660px;
                height: 100%;
                background-color: #F3ECE2;
            }

            #yuce .yuce_rt {
                display: inline-block;
                height: 100%;
                vertical-align: top;
                background-color: #F3ECE2;
                width: 330px;
                float: right;
            }

            #yuce .yuce_weixinhao .zzqc {
                color: #AC685B;
                font-size: 14px;
                display: inline-block;
                text-indent: 14px;
                height: 40px;
                width: 140px;
            }

            #yuce .yuce_weixinhao .bzxp {
                color: #AC685B;
                font-size: 12px;
                display: inline-block;
                line-height: 40px;
                height: 40px;
                width: 200px;
                text-align: center;
                vertical-align: top;
            }

            #yuce .mfycgq {
                display: inline-block;
                height: 40px;
                vertical-align: top;
            }

        #bzjpForm input[type=text] {
            width: 120px;
        }

        #bzjpForm .bzjp_lt {
            font-size: 12px;
            color: #76644F;
            text-align: right;
            width: 40%;
        }

        .art_li {
            color: chocolate;
            cursor: pointer;
        }

            .art_li .tit {
                font-size: 14px;
            }

            .art_li .dt {
                display: block;
                float: right;
                font-size: 12px;
                margin-right: 5px;
            }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript" src="~/plugins/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#nick_name").focus();

            $("#pwd").keydown(function (event) {
                if (event.keyCode == 13) {
                    login();
                }
            });

            @{
                if (!ViewContext.RouteData.Values["action"].ToString().ToLower().Equals("baziyuceexplain"))
                {
                    <text>
                        $("#yuce .yuce_lt").click(function () {
                            window.open("/index/BaziyuceExplain", "_blank");
                        });
                    </text>
                }
            }

        });

        // 登录
        function login() {
            if ($("#nick_name").val().length < 3) {
                alert("用户名的长度必须不少于3个字符");
                $("#nick_name").focus();
                return;
            }
            if ($("#pwd").val().length < 6) {
                alert("密码的长度必须不少于6个字符");
                $("#pwd").focus();
                return;
            }
            $.ajax({
                type: "post",
                url: "/index/login",
                data: $("#loginForm").serialize(),
                error: function (request) {
                    alert("请求错误");
                },
                success: function (data) {
                    if (data > 0) {
                        location.href = '@Request.RawUrl';
                    } else {
                        alert(data);
                    }
                }
            });
        }

        // 打开弹窗
        function openDialog(data, width, height) {
            if (!data) {
                return;
            }
            width = width || 500;
            height = height || 320;
            var ml = 0 - width / 2;
            var mt = 0 - height / 2;
            $("#hide_div").css("margin-left", ml + 'px').css('margin-top', mt + 'px').css("height", height + 'px').css("width", width + 'px');
            $("#hide_div").html(data);
            $("#canvas_div").show();
            $("#hide_div").show();
        }

        // 关闭
        function cls() {
            $("#hide_div").html("");
            $("#hide_div").hide();
            $("#canvas_div").hide();
        }

        // 注册窗口
        function register() {
            $.ajax({
                type: "get",
                url: "/index/regview",
                error: function (request) {
                    alert("请求错误");
                },
                success: function (data) {
                    openDialog(data, 500, 320);
                }
            });
        }

        // 找回密码
        function forgetPwd() {
            $.ajax({
                type: "get",
                url: "/index/forgetPwd",
                error: function (request) {
                    alert("请求错误");
                },
                success: function (data) {
                    openDialog(data, 400, 200);
                }
            });
        }

        // 修改密码
        function changePwd() {
            $.ajax({
                type: "get",
                url: "/index/changePwd",
                error: function (request) {
                    alert("请求错误");
                },
                success: function (data) {
                    openDialog(data, 400, 200);
                }
            });
        }

        // 八字简批提交表单 bzjpForm
        function bzjpSub() {
            if ($("#born_date").val() == '') {
                alert("请选择出生时间");
                return;
            }
            $.ajax({
                type: "post",
                url: "/index/BaZiJianPi",
                data: $("#bzjpForm").serialize(),
                error: function (request) {
                    alert("请求错误");
                },
                success: function (data) {
                    // 提交成功之后,等待预测的状态
                    $("#born_date").val('')
                    alert(data);
                }
            });
        }

        // 创建帖子
        function createTitle() {
            if ('@(Session["user"] == null ? "0" : "1")' == 0) {
                alert("请先登录");
                return;
            }
            // window.open('/index/createTitle', "_blank");
            location.href = '/index/createTitle';
        }

        // 添加内容到留言板
        function liuyan() {
            var content = $("#liuyanban").val();
            if (content.length == 0) {
                alert("请输入内容");
                return;
            }
            $.ajax({
                type: "post",
                url: "/index/addLiuYan",
                data: "content=" + content,
                error: function (request) {
                    alert("请求错误");
                },
                success: function (data) {
                    if (data > 0) {
                        location.href = '@Request.RawUrl';
                    } else {
                        alert("添加失败");
                    }
                }
            });
        }

    </script>
</head>
<body>

    @*登录部分*@
    <div style="width:100%;background-color:#F3E9DE;margin-bottom:10px;">
        <div style="width:1000px;margin:0px auto 0px;height:32px;line-height:32px;">
            <a href="~/" style="display:inline-block;float:left;">首页</a> &emsp;
            <span style="color:#BCAC98;font-size:12px;display:inline-block;">生辰八字算命-周易命理预测 | 阴阳五行八卦研究 | 八字合婚配对查询</span>
            @{ if (Session["user"] == null)
                {
                    <text>
                        <form id="loginForm" style="display:inline-block;float:right;color:#666;font-size:12px;">
                            <ul id="top_login_ul">
                                <li>用户名: <input type="text" name="nick_name" width="120" id="nick_name" placeholder="用户名或者邮箱" autocomplete="on" /></li>
                                <li>密码: <input type="password" name="pwd" id="pwd" width="120" autocomplete="off" /></li>
                                <li><input type="button" value="登录" style="border-width:0px;color:blue;background-color:#F3E9DE;" onclick="login()" /></li>
                                <li><a href="javascript:;" onclick="forgetPwd()">忘记密码?</a> </li>
                                <li><input type="button" value="注册" style="border-width:0px;color:blue;background-color:#F3E9DE;" onclick="register()" /></li>
                            </ul>
                        </form>
                    </text>
                }
                else
                {
                    EFDao.Entity.user u = (EFDao.Entity.user)Session["user"];
                    <text>
                        @{ if (u.is_admin) {<a style="display:inline-block;font-size:16px;" href="/admin/index" target="_blank">后台管理</a>}}
                        <span style="display:inline-block;float:right;color:#666;font-size:12px;">您好,@(u.nick_name) 
                        &emsp;&emsp;<a href="javascript:;" onclick="changePwd()">修改密码</a>
                        &emsp;&emsp; <a href="/index/logout">注销登录</a></span>
                    </text>
                            }
            }

        </div>
    </div>


    @*主体*@
    <div id="main" style="width:1000px;margin:0px auto 0px;height:auto;">

        @*简介*@
        <div style="width:100%;height:60px;">
            <div style="height:60px;width:440px;float:left;background-color:#EAE2D5;">
                <img src="~/imgs/title.png" title="魏清八字风水算命论坛" height="60" />
            </div>
            <div id="top_rt">
                欢迎加入算命风水相术中医交流群: 372417319
                <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=102983be9cfa6dc4b4e22a6fcfa8f67dda93e3bdeffdae8aaead089c1295c240">
                    <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="算命风水相术中医" title="算命风水相术中医">
                </a>,八字、算命、风水堪舆、手面相、择日取名、六爻八卦、壬遁太乙、相法星象专业预测群，
                由群主清清流水——魏清每天坐堂免费预测，欢迎问测者加入！
            </div>
        </div>


        @*预测*@
        <div id="yuce">
            @{ var dic = EFDao.BLL.getData.getAdContent();}
            @*左边的八字预测*@
            <div class="yuce_lt">
                @if (dic["left"] == null)
                {
                    <div style="height:40px;width:80px;float:left;">
                        <img src="~/imgs/weixin.jpg" height="40" />
                    </div>
                    <div class="yuce_weixinhao">
                        <div class="zzqc">
                            站长亲测<br />
                            <span style="font-size:14px;">&emsp;微信号:383129257</span>
                        </div>
                        <div class="bzxp">
                            八字详批:198元
                        </div>
                        <div class="mfycgq"><img src="~/imgs/mfycgq.png" height="40" /></div>
                    </div>
                }
                else
                {
                    <div>
                        @Html.Raw(dic["left"])
                    </div>
                }
            </div>

            @*右边的八卦六爻预测*@
            <div class="yuce_rt">
                @if (dic["right"] == null)
                {
                    <div style="height:40px;width:80px;float:left;">
                        <img src="~/imgs/weixin.jpg" height="40" />
                    </div>
                    <div class="bgyc">
                        八卦预测<br />每卦66元
                    </div>
                }
                else
                {
                    <div>
                        @Html.Raw(dic["right"])
                    </div>
                }
            </div>
        </div>



        @*中间主要内容部分*@
        <div id="rb" style="width:1000px;min-height:910px;">


            @*内容视图页部分*@
            <div class="rb_lt" style="width:660px;min-height:910px;margin-top:5px;background-color:#FDFDF8;display:inline-block;">
                @RenderBody()
            </div>



            @*右侧公用部分*@
            <div class="rb_rt" style="width:330px;min-height:910px;margin-top:5px;background-color:#FDFDF8;float:right;">

                @*公告板*@
                <div style="width:100%;min-height:200px;">
                    <div style="text-align:center;height:25px;line-height:25px;color:darkgray;">今日公告</div>
                    <div style="width:100%;min-height:175px;color:#666;">
                        @{
                            var notice = EFDao.BLL.getData.getNotice();
                            if (notice != null)
                            {
                                <text>@Html.Raw(notice.content) </text>
                            }
                        }
                    </div>
                </div>

                <div style="height:20px;width:100%;"></div>
                <hr />

                @*每日一文*@
                @*
                <div style="width:100%;min-height:200px;">
                    <div style="text-align:center;height:25px;line-height:25px;"><a style="color:#c00;" target="_blank" @{if (Request.RawUrl.IndexOf("/index/artList") >= 0) { <text> href='javascript:;' </text>  } else { <text> href="/index/artList" </text>   } } >查看更多文章</a> </div>
                    <ul style="width:100%;min-height:175px;">
                        @{
                            var list = EFDao.BLL.getData.getArtList();
                            if (list != null && list.Count > 0)
                            {
                                foreach (var item in list)
                                {
                                    <li class="art_li" onclick="javascript:window.open('/index/article/@(item.id)','_blank')"><span class="tit">@item.title</span> <span class="dt">@item.addtime.ToString("yyyy-MM-dd HH:mm") </span> </li>
                                }
                            }
                        }
                    </ul>
                </div>
                *@

                @*八字简批*@
                <div style="padding-top:10px;padding-bottom:10px;">
                    <h3 style="text-align:center;color:#666;font-size:16px;height:32px;line-height:32px;">八字简批</h3>
                    <form id="bzjpForm">
                        <table width="330">
                            <tr>
                                <td class="bzjp_lt"> 姓名:</td>
                                <td><input type="text" name="name" value="求测者" /></td>
                            </tr>
                            <tr>
                                <td class="bzjp_lt">出生地:</td>
                                <td><input type="text" name="born_place" value="未知" /></td>
                            </tr>
                            <tr>
                                <td class="bzjp_lt">性别:</td>
                                <td><input type="radio" name="sex" value="true" checked="checked" />男 <input type="radio" name="sex" value="false" />女</td>
                            </tr>
                            <tr>
                                <td class="bzjp_lt">公历出生日期:</td>
                                <td style="font-size:12px;color:#76644F;">
                                    <input class="Wdate" type="text" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" name="born_date" id="born_date">(北京时间)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center;color:#76644F;font-size:16px;">
                                    <div class="blueBtn_s" onclick="bzjpSub()">申请八字简批</div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <hr />

                @*帖子,管理员可以设置置顶*@
                <div style="min-height:230px;">
                    <div style="width:100%;height:30px;line-height:30px;color:#551A8B;text-align:center;">
                        <a href="javascrip:;" @{if (Request.RawUrl.IndexOf("/index/titleList") < 0)
                            { <text>onclick="javascript: window.open('/index/titleList', '_blank')" target="_blank"</text>}
                            }>查看全部帖子</a>
                        &emsp;
                        <a style="color:#551A8B;" href="javascript:;" @{if (Request.RawUrl.IndexOf("/index/createTitle") < 0) { <text>onclick="createTitle()"</text>}
                            }>创建</a>
                    </div>
                    <ul>
                        @{
                            var tzList = EFDao.BLL.getData.getTitleList();
                            if (tzList != null && tzList.Count > 0)
                            {
                                foreach (var item in tzList)
                                {
                                    <li style="height:20px;width:100%;">
                                        <a style="display:block;height:100%;width:100%;color:#551A8B;font-size:12px;" href="/index/tiezi/@item.id" target="_blank">
                                            <span style="width:60px;height:100%;display:inline-block;"> @item.nick_name </span>
                                            <span style="display:inline-block;margin-right:5px;margin-left:5px;height:100%;">@item.art_title</span>
                                            <span style="display:block;float:right;margin-right:5px;margin-left:5px;height:100%;">@item.addtime.ToString("yyyy-MM-dd")</span>
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li style="color:#551A8B;">无数据</li>
                            }
                        }
                    </ul>
                </div>

                <hr />

                @*留言板*@
                <div class="lyb">
                    <div style="text-align:center;cursor:pointer;color:chocolate;height:30px;line-height:30px;" title="查看更多留言内容"
                          @{if (Request.RawUrl.IndexOf("/index/liuyanList") < 0) { <text>onclick="javascript: window.open('/index/liuyanList','_blank')" </text>}} >留言板</div>
                    <div style="width:100%;min-height:210px;color:#666;">
                        <table style="width:100%;">
                            @{
                                var lyList = EFDao.BLL.getData.getLybList();
                                if (lyList != null && lyList.Count > 0)
                                {
                                    foreach (var item in lyList)
                                    {
                                        <tr style="width:100%;"><td>@item.uname :</td> <td> @item.content </td></tr>
                                    }
                                }
                            }
                        </table>
                    </div>
                    <div style="text-align:center;">
                        <input type="text" id="liuyanban" placeholder="请输入留言内容" style="height:22px;width:200px;" /><div class="blueBtn_s" onclick="liuyan()">我要留言</div>
                    </div>
                </div>


            </div>
            @*右侧公用部分结束*@


        </div>
    </div>

    <div id="foot" style="height:32px;background-color:#643420;width:100%;text-align:center;line-height:32px;color:#ccc;font-size:10px;">
        power by QQ 694060865 &emsp;&emsp;魏清八字风水算命论坛预祝所有求测者一帆风顺,生活愉快
    </div>

    <div id="hide_div" style="display:none;border:1px solid #aaa;width:500px;height:320px;position:fixed;z-index:2;left:50%;margin-left:-250px;top:50%;margin-top:-160px;">
        @*弹出框*@
    </div>
    <div id="canvas_div" style="display:none;opacity:0.2;background-color:#ccc;z-index:1;width:100%;height:100%;position:fixed;top:0px;">
        @*画布*@
    </div>
</body>
</html>
